body {
    width: 1280px;
    margin: 0 auto; 
    background-color: #f7f5f5; /* Cream background color */
    color: #4527a0; /* Deep purple text color */
  }

/* navbar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul.navbar li {
    display: inline;
  }
  
  ul.navbar li a {
    display: block;
    color: #4527a0; /* Deep purple text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navbar li a:hover {
    background-color: #ddd;
  }
  
  h1 {
    text-align: left;
  }
  
  .dark-mode {
    background-color: #4527a0; /* Deep purple background color */
    color: #f7f5f5; /* Cream text color */
  }

  /* CSS for the cost calculator */
section#calculator {
    
  }
  
  .product {

  }
  
  .total {

  }
  
  .checkout-btn {
    
  }