body {
    width: 1280px;
    margin: 0 auto; 
  }

/* navbar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul.navbar li {
    display: inline;
  }
  
  ul.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  ul.navbar li a:hover {
    background-color: #ddd;
  }
  
  h1 {
    display: inline-block;
    text-align: left;
  }